---
layout: 'rough_ideas_gallery'
title: 10 Portraits of Byron
date: 2018-03-02 11:45 UTC
tags: photography, art, portraits
---
<div class="row">
  <div class="col-md-6 col-sm-12" >
  <h1> 10 Portraits of Byron </h1>
  <p class="note">
    <b> Camera: </b> Canon E0S 100D
    <br>
    <b> Lens: </b> TBC
    <br>
    <b> Editing Suite: </b> Lightroom CC (on Mac)
  </p>
  </div>
</div>

<div class="grid">
  <div class="grid-sizer"></div>

  <%= image_tag 'posts/ten_portraits_of_bj/beej_in_bed.jpg', class: "grid-item" %>
  <%= image_tag 'posts/ten_portraits_of_bj/beej.jpg', class: "grid-item" %>
  <%= image_tag 'posts/ten_portraits_of_bj/beej_in_window.jpg', class: "grid-item" %>

  <%= image_tag 'posts/ten_portraits_of_bj/bj_in_maj_garden-2.jpg', class: "grid-item grid-item--width2" %>
  <%= image_tag 'posts/ten_portraits_of_bj/beej-2.jpg', class: "grid-item" %>
  <%= image_tag 'posts/ten_portraits_of_bj/stained_glass_beej.jpg', class: "grid-item" %>

  <%= image_tag 'posts/ten_portraits_of_bj/beej_framed_by_plants.jpg', class: "grid-item" %>

  <%= image_tag 'posts/ten_portraits_of_bj/bj_midrift.jpg', class: "grid-item" %>
  <%= image_tag 'posts/ten_portraits_of_bj/beej_in_arch.jpg', class: "grid-item" %>
  <%= image_tag 'posts/ten_portraits_of_bj/beej_on_rooftop.jpg', class: "grid-item" %>

</div>
