---
title: "Damilola Odelola"
---

<div class="container" >
 <main class="home-container">
     <div class="logo-container">
      <span class="logo_amp"> &amp; </span>
      <h1 class="logo"> LOLA: CREATIVE  CODER </h1>
    </div>

    <div class="nav">
       <div class="creative-nav">
        <%= image_tag "creative_arrow.svg" %>
        <a href="#"> stuff i've made </a>
      </div>
       <div class="coder-nav">
        <a href="#"> other stuff i've made </a>
        <%= image_tag "coder_arrow.svg" %>
      </div>
    </div>
  </main>
   <footer>
    <div class="social-media">
      <div>
        <a href="https://twitter.com/lolaodelola">
          <%= image_tag "twitter_icon.svg" %>
        </a>
      </div>
      <%#= image_tag "fb_icon.svg" %>
      <div>
        <a href="https://instagram.com/lolaodelola">
          <%= image_tag "ig_icon.svg" %>
        </a>
      </div>
    </div>
    <div class="copyright"> Damilola Odelola &copy; <%= Date.today.year %> </div>
  </footer>
</div>
